@model MVCExampleProjekt.Models.ProduktAndImage

<h4>ProduktAndImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SparaNyProdukt" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="produktnamn" class="control-label"></label>
                <input asp-for="produktnamn" class="form-control" />
                <span asp-validation-for="produktnamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tillverkare" class="control-label"></label>
                <input asp-for="tillverkare" class="form-control" />
                <span asp-validation-for="tillverkare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pris" class="control-label"></label>
                <input asp-for="pris" class="form-control" />
                <span asp-validation-for="pris" class="text-danger"></span>
            </div>
            <div class="col-md-10">
                <p>Upload File</p>
                <input type="file" name="produktImage" />
            </div>
            <div class="form-group">
                <input type="submit" value="Spara ny produkt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
