@model MVCExampleProjekt.Models.Kund

@{
    ViewData["Title"] = "LoginKundPartial";
}

<h1>Inlogg för kunder</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginKund">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" value="123456"/>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Logga in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
