@model MVCExampleProjekt.Models.Employee

<h4>Logga in!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(ViewBag.LoginError != null){
            <div class="form-group">
                <span class="text-danger">
                    Användarnamn eller lösenord är felkatig!
                </span>
                </div>
            }
           
            <div class="form-group">
                <label asp-for="mailadress" class="control-label"></label>
                <input asp-for="mailadress" class="form-control" />
                <span asp-validation-for="mailadress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" type="password"/>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Logga in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
