@model Kund; 

<style>
    .partialexample {
        border: 2px dashed red; 
    }
</style>

@if (ViewBag.Message != null)
{
    <h4 style="border: 1px solid red; padding: 5px;">
        Meddelande @ViewBag.Message
    </h4>
}

<h3> Tre olika sätt för formulär</h3>


@*Automatisk genererad formulär med hjälp VS assistenten. *@
<div class="partialexample">
    <partial name="/Views/Partials/RedigeraKundPartial.cshtml" />
   
</div>

<hr />

@* Data av detta formulär skicka till metoden RedigeraKundByParameter i KundController.cs
    Ordning av parameter spelar ingen roll, de hittar varandra pga namnet
*@
