@*Det här är startsidan för hela webbplatsen.
    Om Ingen Controller eller Action anges så gäller 
    Controller = Home
    Action = Index. 
    Kan ändras i Program.cs, rad 23ff.
*@

@* Låtsas information om servern*@
<div class="text-center">
    <h1 class="display-4">Vår Lilla Webbshop</h1>
    <hr />
    <h2>Systeminformation (Mock-up)</h2>
    <h4>Uptime: 3 days, 5 hours and 33 minutes</h4>
    <h4>Antal aktiva användare: 17</h4>
   </div>

   <hr/>


   <p></p>