@{
    
}

<div class="text-center">
    <h1 class="display-4">Vår Lilla Webbshop</h1>
    <hr />
    <h2>Systeminformation (Mock-up)</h2>
    <h4>Uptime: 3 days, 5 hours and 33 minutes</h4>
    <h4>Antal aktiva användare: 17</h4>
   </div>

   <hr/>


   <p></p>